@use "@pyxis/scss" as *;

$logoWidth: rem(100px);

.header {
    padding: spacing(m) 0;
    display: grid;
    align-items: center;
    grid-template-columns: $logoWidth 1fr;
    grid-column-gap: spacing(m);
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menuItem {
    padding: 0 spacing(m);
}

.logoWrapper {
    max-width: $logoWidth;
    height: auto;
    margin: spacing(s) auto 0 auto;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    min-height: 50vh;
}

.installPromptWrapper {
    @include containerResponsive();
    padding: spacing(m);
    text-align: center;
    margin-bottom: spacing(l);
}

.addToHomeScreenWrapper {
    text-align: center;
    padding: spacing(xl) 0;
    margin-bottom: spacing(l);

    @include mq(m) {
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: space-between;
    }
}

.addToHomeScreenImage {
    max-width: rem(250px);
    width: 100%;
    height: auto;
    border-radius: rem(5px);
    margin: spacing(m) 0;

    @include mq(m) {
        margin: 0 0 0 spacing(m);
    }
}
