@use "@pyxis/scss" as *;

$logoWidth: rem(100px);

.header {
    padding: spacing(m) 0;
    display: grid;
    align-items: center;
    grid-template-columns: $logoWidth 1fr;
    grid-column-gap: spacing(m);
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menuItem {
    padding: 0 spacing(m);
}

.logoWrapper {
    max-width: $logoWidth;
    height: auto;
    margin: spacing(s) auto 0 auto;
}

.headingWrapper {
    @include radius(m);
    background: url(./images/hero.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto spacing(2xl) auto;
    min-height: 75vh;
}

.heading {
    @include radius(xs);
    background-color: rgba(color(brandDark), 0.65);
    padding: spacing(m);
    text-align: center;
}

.installPromptWrapper,
.addToHomeScreenWrapper,
.fileSystemWrapper {
    @include radius(m);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: spacing(xl) 0;
    margin-bottom: spacing(2xl);
    min-height: 50vh;
}

.installPromptContentWrapper,
.addToHomeScreenContentWrapper,
.fileSystemContentWrapper {
    padding-left: spacing(m);
    padding-right: spacing(m);
    text-align: center;
}

.installPromptWrapper {
    background: color(neutralBase);
    text-align: center;
}

.installPromptContentWrapper {
    margin-top: spacing(xl);
}

.addToHomeScreenWrapper {
    text-align: center;
}

.addToHomeScreenContentWrapper {
    display: flex;
    margin-top: spacing(xl);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include mq(m) {
        flex-direction: row;
    }
}

.addToHomeScreenImage {
    max-width: rem(250px);
    width: 100%;
    height: auto;
    border-radius: rem(5px);
    margin: spacing(m) auto;

    @include mq(m) {
        margin: 0 0 0 spacing(l);
    }
}

.fileSystemWrapper {
    background: color(neutral95);
}
