@use "@pyxis/scss" as *;

.installPromptWrapper,
.addToHomeScreenWrapper,
.fileSystemWrapper {
    @include radius(m);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: spacing(xl) 0;
    margin-bottom: spacing(2xl);
    min-height: 50vh;
}

.installPromptContentWrapper,
.addToHomeScreenContentWrapper,
.fileSystemContentWrapper {
    padding-left: spacing(m);
    padding-right: spacing(m);
    text-align: center;
}

.installPromptWrapper {
    background: color(neutralBase);
    text-align: center;
}

.installPromptContentWrapper {
    margin-top: spacing(xl);
}

.addToHomeScreenWrapper {
    text-align: center;
}

.addToHomeScreenContentWrapper {
    display: flex;
    margin-top: spacing(xl);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include mq(m) {
        flex-direction: row;
    }
}

.addToHomeScreenImage {
    max-width: rem(250px);
    width: 100%;
    height: auto;
    border-radius: rem(5px);
    margin: spacing(m) auto;

    @include mq(m) {
        margin: 0 0 0 spacing(l);
    }
}

.fileSystemWrapper {
    background: color(neutral95);
}
